#about {
    background-color: #f9f9ff;

    .about_me_title {
        font-weight: 500;
    }

    .about_img {
        img {
            border-radius: 0.75rem;
        }
    }

    .nav.nav-pills {
        .nav-item {
            margin-right: 1rem;

            @include mobile {
                margin-right: 0;
            }

            @include small-mobile {
                margin-right: 0.5rem;
                margin-bottom: 0.75rem;
            }

            .nav-link {
                color: #333333;
                font-weight: 500;
                padding: 0.5rem 0.7rem;
                font-size: 0.9rem;
                &.active {
                    color: $theme-color;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                }
            }
        }

        .nav-item:last-child {
            margin-right: 0;

            @include small-mobile {
                margin-bottom: 0;
            }
        }
    }

    @include small-mobile {
        .tab-content {
            .tab-pane#about_me, .tab-pane#skills, .tab-pane#experience {
                margin-top: -1.5rem !important;
            }
        }
    }

    #skills {
        ul {
            li {
                font-weight: 500;
                padding: 0.5rem 0.7rem;
                font-size: 0.9rem;
                margin-right: 1.5rem;
                margin-bottom: 1rem;
                background-color: #ffffff;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                border-radius: 0.25rem;
                width: fit-content;
                p {
                    color: $theme-color;
                    margin-bottom: 0;
                }
            }
        }
    }

    #education, #experience {
        .experience, .education {
            position: relative;
            box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
            border: 0;
            border-radius: 0.5rem;

            .experience_body, .education_body {
                padding: 1.5rem;

                .experience_details, .education_details {
                    padding-left: 3.2rem;
                    padding-right: 3rem;

                    @include mobile {
                        padding-right: 0;
                    }

                    h4 {
                        font-size: 1.3rem;
                        font-weight: 500;

                        @include mobile {
                            line-height: 1.7rem;
                        }
                    }

                    &::before {
                        content: "";
                        font-family: 'Font Awesome 5 Pro';
                        font-weight: 300;
                        font-size: 25px;
                        color: $theme-color;
                        position: absolute;
                        left: 20px;
                        top: 20px;
                        z-index: 1;
                        background: #ffffff;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                    }
                }

                .experience_details::before {
                    content: "";
                    left: 23px;
                    top: 17px;
                }
            }

            span.line {
                position: absolute;
                width: 2px;
                background-color: lighten($color: $theme-color, $amount: 30);
                top: 30px;
                bottom: 30px;
                left: 34px;
            }
        }
    }
}