#breadcrumb {
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .breadcrumb {
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

        .breadcrumb-item:first-of-type {
            font-weight: 500;
        }

        .breadcrumb-item:hover {
            a {
                text-decoration: none;
            }
        }
    }

}