#contact {
    background-color: #f9f9ff;
    .form-group {
        margin-bottom: 1.6rem;
        .form-control {
            font-size: 0.9rem;
            padding: 1.5rem 1.2rem;
            border: 0;
            border-radius: 0.35rem;
            box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
        }

        .form-control:focus {
            border-bottom: 2px solid $theme-color;
        }

        label {
            font-size: 0.92rem;
            font-weight: 500;
        }

        input.input_short {
            width: 96%;

            @include mobile {
                width: 100%;
            }
        }    
    }

    .contact_note {
        background: url(../img/map_bg.svg);
        background-repeat: no-repeat;
        background-size: contain;

        .contact_note_bottom {
            p {
                i {
                    font-size: 1.2rem;
                    color: $theme-color;
                }
            }

            .contact_info {
                div {
                    h6 {
                        font-size: 1.1rem;
                        margin-bottom: 0;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                span {
                    i {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .mail_text {
        font-weight: 600;
    }
}