#contact {

    .form-group {
        margin-bottom: 1.6rem;
        .form-control {
            font-size: 0.9rem;
            padding: 1.5rem 1.2rem;
            border: 0;
            border-radius: 0.35rem;
            box-shadow: 0px 0px 10px rgba($color: $theme-color, $alpha: 0.2);
        }

        .form-control:focus {
            border-bottom: 2px solid $theme-color;
        }

        input.input_short {
            width: 96%;
        }    
    }

    .contact_note {
        .contact_note_bottom {
            p {
                i {
                    font-size: 1.2rem;
                    color: $theme-color;
                }
            }
        }
    }

}