body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333333;
    overflow-x: hidden;
}

p {
    color: #868686;
    line-height: 1.7rem;
    font-size: 0.95rem;
    font-weight: 400;
}

.section_gap {
    padding: $section_gap 0;
}

.section_heading {
    font-weight: 600;
}

.portfolio_margin {
    margin-bottom: $portfolio-margin;
}

hr {
    margin: 0;
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}