body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333333;
    position: relative;
    overflow-x: hidden;
    transition: 0.2s all ease;
    font-display: swap;
}

button:focus {
    outline: none;
}

p {
    color: #6e7373;
    line-height: 1.7rem;
    font-size: 0.95rem;
    font-weight: 400;
}

.section_gap {
    padding: $section_gap 0;
}

.section_heading {
    font-weight: 600;
    position: relative;
}

.section_heading::before {
    content: "";
    background-image: url(../img/dots-bg.svg);
    display: block;
    height: 30px;
    left: -17px;
    top: -5px;
    position: absolute;
    width: 37px;
    
}

.portfolio_margin {
    margin-bottom: $portfolio-margin;
}

hr {
    margin: 0;
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

.go_to_top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: linear-gradient(0deg, rgba(78,20,134,1) 23%, rgba(163,48,212,1) 68%);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    opacity: 0.8;
    z-index: 99;
    ion-icon {
        margin-top: 5px;
        font-size: 1.5rem;
        color: #ffffff;
    }
}

svg {
    overflow: hidden;
    vertical-align: middle;
}