#header {

    display: flex;
    min-height: calc(100vh - 83px);
    align-items: center;

    .hero_heading_hello {
        font-weight: 600;
        font-size: 2.5rem;
    }

    .hero_heading_name {
        font-weight: 600;
        font-size: 3.7rem;
    }

    .hero_heading_title {
        font-weight: 600;
        font-size: 3.7rem;
    }

    .little_about_me {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

}