#header {

    display: flex;
    min-height: calc(100vh - 83px);
    align-items: center;

    .hero_heading_hello {
        font-weight: 600;
        font-size: 2.5rem;

        @include mobile {
            font-size: 1.9rem;
        }
    }

    .hero_heading_name {
        font-weight: 600;
        font-size: 3.7rem;

        @include mobile {
            font-size: 2.8rem;
        }
    }

    .hero_heading_title {
        font-weight: 600;
        font-size: 3.7rem;

        @include mobile {
            font-size: 2.8rem;
        }
    }

    .little_about_me {
        line-height: 1.5rem;
    }

    @include mobile {
        .call_to_action {
            a {
                margin-right: 1rem;
            }
        }
    }

}