#services {

    text-align: center;

    ion-icon {
        font-size: 100px;
        color: $theme-color;
        font-weight: 500;
    }

    .custom_service {
        p {
            margin-bottom: 0;

            i {
                color: $theme-color;
            }
        }
    }

    .card {
        border: 0;
        box-shadow: 0px 0px 15px rgba($color: #ddd, $alpha: 0.8);
        border-radius: 0.5rem;

        .card-body {
            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }

    .service_icon img{
        width: 130px;
        display: block;
        margin: 0 auto;
    }

}