$theme-color: #744CA2;
$section_gap: 60px;

$blue: $theme-color;
$primary: $blue;

$btn-padding-y: 0.70rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 0.9rem;
$btn-border-width: 2px;
$btn-border-radius: 0.35rem;

$mr-custom-nav: 3rem;

$progress-height: 0.6rem;
$progress-border-radius: 1rem;
$progress-bar-color: #ffffff;
$progress-bar-bg: $theme-color;

$portfolio-margin: 1.7rem;

$mobile: 575.98px;
$super-small-mobile: 375px;

$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : $theme-color;
$hamburger-hover-opacity       : 0.9;